@import "tailwindcss";
@plugin "@tailwindcss/typography";

@config "../../tailwind.config.mjs";

@theme inline {
  --color-ctp-rosewater: rgba(var(--ctp-rosewater));
  --color-ctp-flamingo: rgba(var(--ctp-flamingo));
  --color-ctp-pink: rgba(var(--ctp-pink));
  --color-ctp-mauve: rgba(var(--ctp-mauve));
  --color-ctp-red: rgba(var(--ctp-red));
  --color-ctp-maroon: rgba(var(--ctp-maroon));
  --color-ctp-peach: rgba(var(--ctp-peach));
  --color-ctp-yellow: rgba(var(--ctp-yellow));
  --color-ctp-green: rgba(var(--ctp-green));
  --color-ctp-teal: rgba(var(--ctp-teal));
  --color-ctp-sky: rgba(var(--ctp-sky));
  --color-ctp-sapphire: rgba(var(--ctp-sapphire));
  --color-ctp-blue: rgba(var(--ctp-blue));
  --color-ctp-lavender: rgba(var(--ctp-lavender));
  --color-ctp-text: rgba(var(--ctp-text));
  --color-ctp-subtext1: rgba(var(--ctp-subtext1));
  --color-ctp-subtext0: rgba(var(--ctp-subtext0));
  --color-ctp-overlay2: rgba(var(--ctp-overlay2));
  --color-ctp-overlay1: rgba(var(--ctp-overlay1));
  --color-ctp-overlay0: rgba(var(--ctp-overlay0));
  --color-ctp-surface2: rgba(var(--ctp-surface2));
  --color-ctp-surface1: rgba(var(--ctp-surface1));
  --color-ctp-surface0: rgba(var(--ctp-surface0));
  --color-ctp-base: rgba(var(--ctp-base));
  --color-ctp-mantle: rgba(var(--ctp-mantle));
  --color-ctp-crust: rgba(var(--ctp-crust));
}

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer base {
  @font-face {
    src: url("/fonts/Epilogue[wght].woff2") format("woff2");
    font-family: "Epilogue";
  }
  @font-face {
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2") format("woff2");
    font-family: "IBM Plex Mono";
  }
  @font-face {
    src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2");
    font-family: "IBM Plex Sans";
  }
  body {
    @apply bg-ctp-base;
  }
  main {
    @apply bg-ctp-base;
    @apply container;
    @apply mx-auto;
    @apply px-8;
    @apply sm:px-16;
    @apply lg:px-32;
  }
  h1 {
    @apply text-3xl;
    @apply lg:text-4xl;
    @apply xl:text-5xl;
    @apply font-serif;
    @apply py-8;
    @apply lg:py-16;
    @apply xl:py-16;
    @apply pt-12;
    @apply lg:pt-24;
    @apply xl:pt-24;
    @apply text-ctp-lavender;
  }
  /* h2 {
    @apply text-2xl;
    @apply lg:text-3xl;
    @apply xl:text-4xl;
    @apply font-sans;
    @apply py-4;
    @apply lg:py-6;
    @apply xl:py-6;
    @apply text-ctp-text;
  } */
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  a {
    @apply text-ctp-text;
    @apply lg:text-lg;
    @apply xl:text-lg;
    @apply py-1;
  }
  /* h3,
  h4,
  h5,
  h6 {
    @apply xl:text-2xl;
    @apply text-ctp-lavender;
  } */
  a {
    @apply text-ctp-teal;
    @apply underline;
  }
  /* code {
    @apply text-ctp-text;
    @apply bg-ctp-crust;
    @apply px-2;
    @apply py-2;
    @apply rounded-md;
  } */
  /* span.line {
    @apply text-sm;
  } */
  footer {
    @apply text-center;
    @apply py-16;
    @apply text-ctp-subtext0;
  }

  svg.typst-doc {
    filter: invert(100%) sepia(0%) saturate(367%) hue-rotate(19deg)
      brightness(105%) contrast(101%);
  }
}
