---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="prose prose-xl prose-ctp prose-invert w-max">
			<h1>Welcome!</h1>
			<p>
				I am an undergrad math student at Fudan University, currently in my freshman year.
				It's obviously too early to tell my research interests, but I currently enjoy learning about
				contemporary algebra from a categorical perspective, and related concepts such as
				topology and type theory.
			</p>
			<p>
			    I have had many years of programming experience (and actually thought of studying CS,
				until I discovered pure maths), and speak fluent Python and JavaScript. However, I am a novice
				when it comes to functional programming. I am slowly getting into Lean.
			</p>
			<p>
				Currently this site will just be my personal blog, but I have fun ideas for it later on!
			</p>
			<p>Friendly links:</p>
			<ul>
			    <li><a href="https://astro.build">Astro.js</a> and <a href="https://tailwindcss.com">Tailwind</a>, which power this site</li>
				<li><a href="https://ncatlab.org">n-lab</a></li>
				<li><a href="https://terrytao.wordpress.com">Terence Tao's blog</a>, a great source of insights</li>
				<li><a href="https://theonion.com">The Onion</li>
				<li><a href="https://github.com/ollama/ollama">Ollama</a>, enabling ordinary users to run open LLMs locally</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
