---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Homepage of m-lennox">
    <main>
        <h1>hi.</h1>
        <p>This is the homepage of m-lennox (under construction)</p>
    </main>
</Layout>

<style></style>
